@use "../../theme.scss";

body {
    background-color: #0e0e0e;
    color: #fff;
    font-family: "Raleway", "sans-serif";

    overflow-x: hidden;
}

div#content {
    height: 100vh;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1#company-name {
    margin: 0;
    font-size: calc(36px + 3.2vw);
    font-weight: 700;
}

main.site-main {
    text-align: center;
}

p#subtitle {
    margin-top: calc(128px + 3.4vh);
    font-size: calc(10px + 1.1vw);
    font-weight: 300;
}

.site-main__section--cta {
    margin-top: calc(128px + 3.4vh);
}
button.button {
    font-size: calc(12px + 0.8vw);

    border: none;
    border-radius: 40px;
    background-color: #fff;
    padding: 0.8em 1.4em;


    color: #0e0e0e;
    font-weight: 700;
}
button.button:hover {
    cursor: pointer;
    background-color: #c0c0c0;

    transition: 0.3s ease-in-out;
}

/* Phones */
@media screen and (max-width: 800px) {
    div#content {
        margin-top: -75px;
    }
    p#subtitle {
        margin-top: 128px;
    }
    
    .site-main__section--cta {
        margin-top: 128px;
    }
}